@charset "UTF-8";

/*  estilo para impressoras */

*{

    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

menu{
    display: none;
}

article::after{
    content: 'essr artigo foi empresso pelo site do Carlos Daniel';
}